<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="assets/media/14_kina.jpg" alt="Kina Slips">
  <div class="card-body">
    <h5 class="card-title">Kina Slips <span class="badge badge-info">Spar 10%</span></h5>
    <p class="card-text">Et super slips fra vores kinesiske designer</p>
    <p class="card-text price-after">Pris: <span class="price-before">1000,00</span> 900,00</p>
    <a href="/produkt#slip=5" class="btn btn-info">Læs mere</a>
  </div>
</div>
