<!DOCTYPE html>
<html lang="da">

  <head>
      <% include ../partials/head %>
  </head>

  <body id="page-top">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="top-banner-tie"></div>

        <div class="container-fluid p-0">

          <section class="slips-section p-3 p-lg-5 d-flex d-column">
            <div class="my-auto">
              <h1 class="mb-0">Slipse<span class="text-primary">Knuden</span>
              </h1>
              <div class="subheading mb-5">
                  <p><a href="tel:88996644">+45 88 99 66 44</a> · <a href="mailto:info@slipseknuden.dk">Info@slipseknuden.dk</a> · 4300 Holbæk · Slipsevej 79 </p>
              </div>
              <p class="lead">Slips til gentlemen!</p>
              <p class="mb-5">
                  Hos Slipseknuden, byder vores udvalg både på slips i silke, uld, uld/silke samt 100% cashmere.
                  Størstedelen af vores slips er lavet i Italien for mærker som John henric, Berg&Berg, samt vores egen kollektion.
                  Er du lipse connoisseur vil du helt sikkert sætte pris på vores egen kollektion som vi har fået håndlavet i Italien.
                  Her fider du bl.a. Selftipped silkeslips med grenadine vævning, samt 7-fold, selftipped silkeslips med forskellige print. </p>
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <a href="http://facebook.com">
                    <span class="fa-stack fa-lg">
                      <i class="fab fa-facebook-f"></i>
                    </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="http://twitter.com">
                    <span class="fa-stack fa-lg">
                      <i class="fab fa-twitter"></i>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </section>

          <section class="slips-section p-3 p-lg-5 d-flex flex-column" id="nyheder">
            <div class="my-auto">
              <h2 class="mb-5">Nyheder</h2>

              <div class="slips-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                  <h3 class="mb-0">Lancering af vores nye hjemmeside</h3>
                  <div class="subheading mb-3">Nyt look, nyt design</div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="slips-date text-md-right">
                  <span class="text-primary">d. 27. Jan 2018</span>
                  <span class="text-primary">Skrevet af: John Doe </span>
                </div>
              </div>

              <div class="slips-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                  <h3 class="mb-0">Lorem ipsum dolor sit amet</h3>
                  <div class="subheading mb-3">Lorem ipsum</div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="slips-date text-md-right">
                    <span class="text-primary">d. 12. Jan 2018</span>
                    <span class="text-primary">Skrevet af: John Doe </span>
                </div>
              </div>

              <div class="slips-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                  <h3 class="mb-0">Lorem ipsum dolor sit amet</h3>
                  <div class="subheading mb-3">Lorem ipsum</div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="slips-date text-md-right">
                    <span class="text-primary">d. 2. Jan 2018</span>
                    <span class="text-primary">Skrevet af: John Doe </span>
                </div>
              </div>
            </div>
          </section>
        </div>
    </main>
    <% include ../partials/scripts %>
  </body>

</html>
