<!DOCTYPE html>
<html lang="da">

  <head>
      <% include ../partials/head %>
  </head>

  <body id="page-top">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="top-banner-tie3"></div>

        <div class="container-fluid p-0">
            <section class="slips-section p-3 p-lg-5 d-flex d-column">
                <div class="my-auto">
                    <h1 class="mb-5">Historien
                        <span class="text-primary">bag</span>
                        Slipseknuden
                    </h1>
                    <p class="mb-3">Hvor startede det hele henne - hvem var de første der bar slips?</p>
                    <p class="mb-3">Man skal helt tilbage til omkring år 1660, hvor kong Ludvig den 14. regerede Frankrig, for at finde starten på det hele. Kongen gik utrolig meget op i mode og beklædning. Efter at kroatiske soldater havde besejret Det Osmanniske Rige, deltog kongen i et optog hvor alle soldaterne skulle gå forbi. Her bemærkede han at alle soldaterne bar et stykke rødt stof om halsen. Kongen var så begejstret for det lille stykke klæde, at han valgte at hans kongelige regiment skulle bære halsklude i farven rød.</p>
                    <p class="mb-5">Halskluden blev hurtig populær i resten af Europa, og var man en herre med stil, skulle man bære det. Efterhånden som tiden gik og moden skiftede, blev kluden mere kraftig. Da man når til 1800 tallet, var der en modeskaber fra England, som af pratiske årsager valgte at gøre kluden mindre, så den ikke var så fremtrædende - det har udviklet sig til det vi i dag kalder slips. I dag er det ikke længere noget der kun bæres af en bestemt gruppe mennesker eller til jakkesæt. I dag bæres det af mange forskellige typer mennesker og slips findes i næsten lige så mange udgaver.</p>
                    <p class="mb-3">Slipseknuden blev etableret i 1984 da og blev straks kendt som en butik med slips i de aller fineste kvalietsslips. Tilbage i 80'erne var der 5 ansatte og siden er det gået enormt stærkt, i dag er slipseknuden en verdensomspændende æde af slipsebutkker fordelt i hele europa med tusindvis af ansatte. Slipseknuden har kun det ypperste indenfor slips. Hos os finder du kvalitetsvarer der er usammenlignelige med andre slips. Et slips fra os vil bliver bemærket overalt du måtte færdes. Vores slips signalere kvaltet og god smag! </p>
                </div>
            </section>
        </div>
    </main>
    <% include ../partials/scripts %>
  </body>

</html>
