<!DOCTYPE html>
<html lang="da">

  <head>
      <% include ../partials/head %>
  </head>

  <body id="page-top">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="top-banner-tie"></div>

        <div class="container-fluid p-0">
            <section class="slips-section p-3 p-lg-5 d-flex d-column">
                <div class="my-auto">
                    <h1 class="mb-5">Vores udvalg</h1>
                    <div class="row justify-content-around mb-5">
                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="assets/media/1_klassisk_brun.jpg" alt="Klassisk Brun Slips">
                          <div class="card-body">
                            <h5 class="card-title">Klassisk Brun Slips</h5>
                            <p class="card-text">klassisk slips til den brune habit</p>
                            <p class="card-text">Pris: 900,00</p>
                            <a href="/produkt#slip=1" class="btn btn-info">L칝s mere</a>
                          </div>
                        </div>

                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="assets/media/2_stribet_stil.jpg" alt="Stribet Stil Slips">
                          <div class="card-body">
                            <h5 class="card-title">Stribet Stil Slips</h5>
                            <p class="card-text">Sort stribet - et rigtigt direkt칮rslips</p>
                            <p class="card-text">Pris: 900,00</p>
                            <a href="/produkt#slip=2" class="btn btn-info">L칝s mere</a>
                          </div>
                        </div>

                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="assets/media/3_brudgommens_favorit.jpg" alt="Brudgommens favorit Slips">
                          <div class="card-body">
                            <h5 class="card-title">Brudgommens favorit Slips</h5>
                            <p class="card-text">Brudgommens favorit, Skal du giftes? s친 skal det v칝re det her!</p>
                            <p class="card-text">Pris: 900,00</p>
                            <a href="/produkt#slip=3" class="btn btn-info">L칝s mere</a>
                          </div>
                        </div>
                    </div>
                    <div class="row justify-content-around mb-5">

                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="assets/media/4_soelvpil.jpg" alt="S칮lvpil Slips">
                          <div class="card-body">
                            <h5 class="card-title">S칮lvpil Slips</h5>
                            <p class="card-text">Er du til fest og farver s친 v칝lg dette fantastiske slips.</p>
                            <p class="card-text">Pris: 900,00</p>
                            <a href="/produkt#slip=4" class="btn btn-info">L칝s mere</a>
                          </div>
                        </div>

                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="assets/media/5_roed_f11.jpg" alt="R칮d f11 Slips">
                          <div class="card-body">
                            <h5 class="card-title">R칮d f11 Slips</h5>
                            <p class="card-text">R칮d F11, Slipset til den store charm칮r  游떁</p>
                            <p class="card-text">Pris: 900,00</p>
                            <a href="/produkt#slip=5" class="btn btn-info">L칝s mere</a>
                          </div>
                        </div>

                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="assets/media/6_blaa_kant.jpg" alt="Bl친 kant Slips">
                          <div class="card-body">
                            <h5 class="card-title">Bl친 kant Slips</h5>
                            <p class="card-text">k칮b vores bl친 slips til barned친ben!</p>
                            <p class="card-text">Pris: 900,00</p>
                            <a href="/produkt#slip=5" class="btn btn-info">L칝s mere</a>
                          </div>
                        </div>

                    </div>
                    <div class="row justify-content-around mb-5">

                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="assets/media/7_fars_favorit.jpg" alt="Fars favorit Slips">
                          <div class="card-body">
                            <h5 class="card-title">Fars Favorit Slips</h5>
                            <p class="card-text">klassisk slips med et twist</p>
                            <p class="card-text">Pris: 900,00</p>
                            <a href="/produkt#slip=4" class="btn btn-info">L칝s mere</a>
                          </div>
                        </div>

                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="assets/media/8_sort_nat.jpg" alt="Sort Nat Slips">
                          <div class="card-body">
                            <h5 class="card-title">Sort Nat Slips</h5>
                            <p class="card-text">slipset til den ultra stilbeviste</p>
                            <p class="card-text">Pris: 900,00</p>
                            <a href="/produkt#slip=5" class="btn btn-info">L칝s mere</a>
                          </div>
                        </div>

                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="assets/media/9_blue.jpg" alt="Bl친 kant Slips">
                          <div class="card-body">
                            <h5 class="card-title">Bl친 kant Slips</h5>
                            <p class="card-text">Bl친t med striber.</p>
                            <p class="card-text">Pris: 900,00</p>
                            <a href="/produkt#slip=5" class="btn btn-info">L칝s mere</a>
                          </div>
                        </div>
                    </div>
                    <div class="row justify-content-around mb-5">

                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="assets/media/10_tern.jpg" alt="Tern Slips">
                          <div class="card-body">
                            <h5 class="card-title">Tern Slips</h5>
                            <p class="card-text">Perfekt til den klassiske bl친 skjorte.</p>
                            <p class="card-text">Pris: 900,00</p>
                            <a href="/produkt#slip=4" class="btn btn-info">L칝s mere</a>
                          </div>
                        </div>

                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="assets/media/11_raeven.jpg" alt="R칝ven Slips">
                          <div class="card-body">
                            <h5 class="card-title">R칝ven Slips</h5>
                            <p class="card-text">L칝kkert r칝ver칮dt slips.</p>
                            <p class="card-text">Pris: 900,00</p>
                            <a href="/produkt#slip=5" class="btn btn-info">L칝s mere</a>
                          </div>
                        </div>

                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="assets/media/12_kinini.jpg" alt="Kinini Slips">
                          <div class="card-body">
                            <h5 class="card-title">Kinini Slips</h5>
                            <p class="card-text">Bl친t med striber.</p>
                            <p class="card-text">Pris: 900,00</p>
                            <a href="/produkt#slip=5" class="btn btn-info">L칝s mere</a>
                          </div>
                        </div>
                    </div>
                    <div class="row justify-content-around mb-5">

                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="assets/media/13_europa.jpg" alt="Europa Slips">
                          <div class="card-body">
                            <h5 class="card-title">Europa Slips</h5>
                            <p class="card-text">et l칝kkert slips i en super kvalitet.</p>
                            <p class="card-text">Pris: 900,00</p>
                            <a href="/produkt#slip=4" class="btn btn-info">L칝s mere</a>
                          </div>
                        </div>

                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="assets/media/14_kina.jpg" alt="Kina Slips">
                          <div class="card-body">
                            <h5 class="card-title">Kina Slips <span class="badge badge-info">Spar 10%</span></h5>
                            <p class="card-text">Et super slips fra vores kinesiske designer</p>
                            <p class="card-text price-after">Pris: <span class="price-before">1000,00</span> 900,00</p>
                            <a href="/produkt#slip=5" class="btn btn-info">L칝s mere</a>
                          </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <% include ../partials/scripts %>
  </body>

</html>
